img {
    width: 100%;
    border: 10px double black;
}

.image1 {
    margin-right: 4vw;
}

nav {
    font-family: 'Xanh Mono', monospace;
    font-size: 3vw;
    text-align: center;
    display: flex;
    justify-content: space-around;
    border: 1vw double black;
    margin-bottom: 1vw;
    background-color: #b2b2b2;
}

.text1 {
    font-family: 'Xanh Mono', monospace;
    font-size: 3vw;
    text-align: center;


}

.text2 {
    font-family: 'Xanh Mono', monospace;
    font-size: 3vw;
    text-align: center;
    margin-top: -18vw;

}

.text3 {
    font-family: 'Xanh Mono', monospace;
    font-size: 3vw;
    text-align: center;
    margin-top: -18vw;

}

.text4 {
    font-family: 'Xanh Mono', monospace;
    font-size: 3vw;
    text-align: center;
    margin-top: -18vw;

}

.text5 {
    font-family: 'Xanh Mono', monospace;
    font-size: 3vw;
    text-align: center;
    padding: 0vw 0vw 5vw 0vw;
    margin-top: -18vw;

}

a {
    color: black;
}

a:active {
    color: white;
}

h1 {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 17vw;
    text-align: center;
}

h2 {
    font-family: 'Xanh Mono', monospace;
    font-size: 5vw;
    text-align: center;
}

h3 {
    font-family: 'Xanh Mono', monospace;
    font-size: 3vw;
    text-align: center;
    border: 5px double black;
    box-sizing: border-box;
    width: 80%;
    margin: 4.4vw;

}

h4 {
    font-family: 'Xanh Mono', monospace;
    font-size: 3vw;
    text-align: center;
    margin-bottom: 100px;
}

footer {
    font-family: 'Xanh Mono', monospace;
    font-size: 2vw;
    border-top: 3px solid black;
    position: fixed;
    bottom: 0;

}

@media only screen and (min-width: 600px) {
    .section {
        width: 100vw;
        height: 56.25vw;
    }


    nav {
        font-family: 'Xanh Mono', monospace;
        font-size: 2.5vw;
        text-align: center;
        display: flex;
        justify-content: space-around;
        border: 1vw double black;
        margin-bottom: 1vw;
    }



    h1 {
        font-family: 'East Sea Dokdo', cursive;
        font-size: 15vw;
    }

    h2 {
        font-family: 'Xanh Mono', monospace;
        font-size: 4vw;
        text-align: center;
    }

    h3 {
        font-family: 'Xanh Mono', monospace;
        font-size: 3vw;
        text-align: center;
        border: 5px double black;
        box-sizing: border-box;
        width: 80%;
        margin: 4.4vw;

    }

    h4 {
        font-family: 'Xanh Mono', monospace;
        font-size: 3vw;
        text-align: center;
        margin-bottom: 100px;
    }

    #ommig_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
    }

    .text1 {
        font-family: 'Xanh Mono', monospace;
        font-size: 3vw;
        padding: 0vw 0vw 5vw 5vw;
    }

    .text2 {
        font-family: 'Xanh Mono', monospace;
        font-size: 3vw;
        padding: 0vw 0vw 5vw 5vw;
    }

    .text3 {
        font-family: 'Xanh Mono', monospace;
        font-size: 3vw;
        padding: 0vw 0vw 5vw 5vw;
    }

    .text4 {
        font-family: 'Xanh Mono', monospace;
        font-size: 3vw;
        padding: 0vw 0vw 5vw 5vw;
    }

    .text5 {
        font-family: 'Xanh Mono', monospace;
        font-size: 3vw;
        padding: 0vw 0vw 5vw 5vw;
    }

    footer {
        font-family: 'Xanh Mono', monospace;
        font-size: 2vw;
        border-top: 3px solid black;
        position: fixed;
        bottom: 0;

    }
}
